@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
}

html > body {
  font-family: 'Lato', sans-serif;
}

.box:hover > .box-close {
  @apply opacity-100;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 0 rgb(229, 231, 235) inset !important;
  background-color: rgb(229, 231, 235) !important;
  background-clip: content-box !important;
}